input[type=range] {
    width: 100%;
    margin: 13.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #B79467FF;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -14px;
    width: 16px;
    height: 36px;
    background: bisque;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B79467FF;
}
input[type=range]::-moz-range-track {
    background: #B79467FF;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 36px;
    background: bisque;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 14.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #B79467FF;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: #B79467FF;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    width: 16px;
    height: 36px;
    background: bisque;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #B79467FF
}
input[type=range]:focus::-ms-fill-upper {
    background: #B79467FF;
}
@supports (-ms-ime-align:auto) {
    input[type=range] {
        margin: 0;
    }
}
